body {
    margin: 0;
    color: teal;
    font-family: 'Pacifico', cursive;
}


/*********** HEADER ************/

header {
    text-align: center;
    padding: 5px;
    background-color: pink;
    color: white;
    font-family: 'Pacifico', cursive;
}


h1 {
    margin: 0;
    font-size: 4em;
}

header a {
    color: teal;
    font-family: 'Cabin', sans-serif;
    /* text-decoration: none;--> */
}

.list a {
    color: teal;
    font-family: 'Cabin', sans-serif;
    /* text-decoration: none;--> */
}


/*********** LISTS ************/
#product-info {
    margin: 0 auto;
    width: 80%;
    padding-top: 10px;
}

.list {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    font-family: 'Cabin', sans-serif;
}

.list-title {
    margin-left: 20px;
}

.buttons {
    text-align: center;
    padding: 10px;
    background-color: teal;
    color: white;
    font-family: 'Cabin', sans-serif;
    border-radius: 10px;
}

.input {
    padding: 10px;
}

